// Colors
$light-blue: #99D9D9;
$medium-blue: #51B6B6;
$dark-blue: #132540;
$black: #000000;
$white: #FFFFFF;
$orange: #FFBD59;
$red: #EA2D40;
$green: #7ED957;
$grey: #C6BFAF;

// Padding
$mobile-padding-left-right: 0 1rem;
$tablet-padding-left-right: 0 2rem;

// Fonts
$font-family-regular: 'montserrat';
$font-family-bold: 'montserrat-semibold';
$font-family-light: 'montserrat-extralight';

